chartpress==2.1.0
kubernetes
packaging
json-merge-patch
ruamel.yaml<0.17.10
ruamel.yaml.clib<0.2.4
# requests 2.32.0 has a bug with not allowing docker+http protocol, see requests/issues/6707
requests<2.32.0
